<div class="card">
  <img [ngSrc]="content.image?.url ?? ''" [height]="content.image?.height ?? 300" [width]="content.image?.width ?? 300"
    [alt]="content.description ?? content.name" title="content image" class="img-thumbnail" />
  <div class="card-body">
    <h5 class="card-title">{{content.name}}</h5>
    @if(content.description) {
      <p class="card-text">{{content.description}}</p>
    }
    <button class="btn btn-primary" type="submit" (click)="this.selectedContent.emit(content)">
      Select Content
    </button>
  </div>
</div>
