@use 'src/styles.scss';

.progress-bar {
  transition: none;
}

.progress-container {
  background-color: $gray-600;
  border-radius: 0%;
  height: 30px;
  transition: none;
}

.segment {
  border-right: 2px solid white;
}

.active-segment {
  background-color: $gray-400;
}
