<h1>Welcome</h1>
<p>Hello, my name is Ryan and this is my personal website.</p>
<div class="row row-cols-1 row-cols-md-1 row-cols-lg-4 mt-3 gy-5">
  <div class="card">
    <img src="https://storage.googleapis.com/pr-newsroom-wp/1/2023/05/Spotify_Primary_Logo_RGB_Green.png" [width]="300"
      alt="Spotify logo" title="Spotify logo" class="img-thumbnail mt-2" />
    <div class="card-body">
      <a [routerLink]="['/woozle']" class="fs-3">Woozle</a>
      <p class="card-text">A Spotify embedded song trivia game built from your personal saved albums, artists, and playlists</p>
      <a href="https://github.com/rpw1/Woozle">Github Project Link</a>
    </div>
  </div>
</div>
