@import 'src/styles.scss';

.progress-bar {
  transition: none;
}

.progress-container {
  background-color: $gray-600;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  height: 30px;
  transition: none;
}

.first-segment {
  border-left: 2px solid white;
  background-color: $gray-400;
}

.segment {
  border-right: 2px solid white;
}

.active-segment {
  background-color: $gray-400;
}

.progress > .progress-container {
  border-radius: 0%;
}