<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/devices']" routerLinkActive="router-link-active">Devices</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ (selectedDevice$ | async)?.name }}</li>
    </ol>
  </nav>
  <div class="row row-cols-1 row-cols-md-1 row-cols-lg-4 mt-3 gy-5">
    @for(content of availableContents$ | async; track content.id) {
      <div class="col">
        <app-content [content]="content" (selectedContent)="setContent($event)" />
      </div>
    }
  </div>
</div>
