<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/devices/select']">Devices</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ (selectedDevice$ | async)?.name }}</li>
    </ol>
  </nav>
  <ul ngbNav #nav="ngbNav" class="nav-pills">
    <li ngbNavItem>
      <button ngbNavLink type="button">Playlists</button>
      <ng-template ngbNavContent>
        <div class="row row-cols-1 row-cols-md-1 row-cols-lg-4 mt-3 gy-5">
          @for(content of availablePlaylists$ | async; track content.id) {
            <div class="col">
              <app-content [content]="content" (selectedContent)="setContent($event)" />
            </div>
          }
        </div>
      </ng-template>
    </li>
    <li ngbNavItem>
      <button ngbNavLink type="button">Artists</button>
      <ng-template ngbNavContent>
        <div class="row row-cols-1 row-cols-md-1 row-cols-lg-4 mt-3 gy-5">
          @for(content of availableArtists$ | async; track content.id) {
            <div class="col">
              <app-content [content]="content" (selectedContent)="setContent($event)" />
            </div>
          }
        </div>
      </ng-template>
    </li>
    <li ngbNavItem>
      <button ngbNavLink type="button">Albums</button>
      <ng-template ngbNavContent>
        <div class="row row-cols-1 row-cols-md-1 row-cols-lg-4 mt-3 gy-5">
          @for(content of availableAlbums$ | async; track content.id) {
            <div class="col">
              <app-content [content]="content" (selectedContent)="setContent($event)" />
            </div>
          }
        </div>
      </ng-template>
    </li>
  </ul>
  <form [formGroup]="contentSearchForm" (ngSubmit)="search()">
    <div class="input-group mt-4">
      <input id="contentSearchInput" type="text" class="form-control"
        placeholder="Enter content name" formControlName="contentSearchInput" />
      <button  class="btn btn-outline-secondary"type="submit">Search</button>
    </div>
  </form>
  <div [ngbNavOutlet]="nav"></div>
</div>
