<h2>Release Notes</h2>
<p>
  I will add important new features, updates and fixes. 
</p>
<h3>What I am working on now</h3>
<p>
  I plan on allowing you to favorite content you enjoy choosing for an easier experience.
  I am starting to work on a separate project for now. Please reach out to me if you notice any issues.
</p>
<p>
  I do want to eventually add a team game mode, but I wouldn't expect that any time. I believe it would take a sizable effort to complete.
</p>
<h3>1/1/2025</h3>
<ul>
  <li>Fixed flakiness of player when leaving it idle for a while</li>
  <li>Quality of life improvement changes</li>
</ul>
<h3>12/15/2024</h3>
<ul>
  <li>Lowered latency with progress bar. Still having issues with initial cold player</li>
</ul>
<h3>11/22/2024</h3>
<ul>
  <li>Added Release Notes Page</li>
  <li>Created a built in player! There is no longer a need to launch spotify separately</li>
  <li>Attempting to add mobile support</li>
</ul>
