<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a [routerLink]="['/woozle/content']">Select Content</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        {{ selectedContentName() }}
      </li>
    </ol>
  </nav>

  <div class="mb-4">
    <div class="row">
      <div class="col">
        <app-guess-list></app-guess-list>
      </div>
    </div>
  </div>

  <div class="mb-4">
    <div class="row">
      <div class="col">
        <app-progress-bar></app-progress-bar>
      </div>
    </div>
  </div>

  <div class="mb-4">
    <div class="row">
      <div class="col text-center">
        @if (isPlayingMusic()) {
        <button
          type="button"
          class="btn btn-danger w-25"
          (click)="togglePlayerOff()"
        >
          Stop
        </button>
        } @else {
        <button
          type="button"
          class="btn btn-primary w-25"
          (click)="togglePlayerOn()"
        >
          Play
        </button>
        }
      </div>
    </div>
  </div>

  <div class="mb-4">
    <div class="row">
      <div class="col text-center">
        <app-guess></app-guess>
      </div>
    </div>
  </div>
</div>
